# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv('Orders.csv')

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
orders.head(3)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00

In [4]:
# your code here
customers = orders.groupby('CustomerID').agg({'amount_spent':'sum'})
customers.sort_values('amount_spent', ascending=False)
c_max= customers.min()
c_min = customers.max()

In [5]:
amt = np.percentile(customers["amount_spent"], (75,95))
amt

array([1661.64 , 5840.182])

In [6]:
labels = ["Regular","Preferred","VIP"]

In [7]:
bin = pd.cut(customers["amount_spent"], [0, 1661.64, 5840.182, 280206.02], labels = labels)
bin.value_counts()

customers["Customers_Type"] = bin

print(bin.value_counts())

display(customers)

Regular      3253
Preferred     868
VIP           217
Name: amount_spent, dtype: int64

            amount_spent Customers_Type
CustomerID
12346           77183.60            VIP
12347            4310.00      Preferred
12348            1797.24      Preferred
12349            1757.55      Preferred
12350             334.40        Regular
...                  ...            ...
18280             180.60        Regular
18281              80.82        Regular
18282             178.05        Regular
18283            2094.88      Preferred
18287            1837.28      Preferred

[4339 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code here
customers["Country"] = orders["Country"]
customers

vip = (customers.groupby(["Customers_Type", "Country"]).agg({"Country":"count"})).sort_values('Customers_Type', ascending=False)

vip

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [20]:
# your code here
customers[customers["Customers_Type"] != "Regular"].groupby(["Country"]).agg({"Customers_Type":"count"}).sort_values('Customers_Type', ascending=False)

                 Customers_Type
Country
United Kingdom              971
Norway                       24
Germany                      22
France                       19
Spain                        15
EIRE                         12
Denmark                       8
Japan                         6
Portugal                      6
Channel Islands               2